<div id="fh5co-main" ng-controller="loadArticles as ctrl">
    <div class="container" load-more="ctrl.moreContents()">

        <div class="row">
            <center>
                <div id="Reproductor">
                    <audio controls="controls" style="width: 95%;">
                        <source src="http://62.210.38.137:8108/;">
                    </audio>
                </div>
            </center>
        </div>
        <div class="row">

            <div class="col-lg-2 col-md-3 col-xs-0 hideAds">
                <div class="row">
                    <img style="width:100%" src="img/syspro.jpg" />
                </div>
                <div class="row">
                    <img style="width:100%" src="img/publicidadDesarrollo.png" />
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-xs-8">
                <div id="fh5co-board" class="row" ng-if="ctrl.items.length>0">
                    <div class="item col-md-6 col-xs-12" ng-class="{clear: $index%2==0}" ng-repeat="article in ctrl.items | orderBy:'-creationDate'" ng-click="ctrl.goArticle(article.$id, article.title)">
                        <b class="fh5co-title">{{article.title}} </b>
                        <a class="image-popup fh5co-board-img" title="{{article.title}}" ng-if="article.typeTemplate==1 || article.typeTemplate==3">
                            <img ng-src="{{article.image}}" alt="{{article.title}}" />
                        </a>
                        <div class="fh5co-desc">{{article.abstract}}</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-4" id="advertising">
                <div>
                    <img src="img/salvador.jpg" />
                </div>
                <div>
                    <img src="img/lechoneria-julian-vasquez.jpeg" />
                </div>
                <div>
                    <img src="img/descanso.jpeg" />
                </div>
                <div>
                    <img src="img/laCopa.png" />
                </div>
            </div>
        </div>
    </div>
</div>